/* PetMais Diagnósticos */

/* # = id (ex: #pagina - id pagina)
   . = class (ex: .pagina - classe pagina) */

body{
	font-family: 'Teko', 'Times New Roman', serif;
	background: white;	

}

a:link, a:active, a:visited{
	color: #08088A;
	text-decoration: none;
}

a:hover{
	color: #f5b461;
}

#container{
	width: 1080px;
	margin: 0 auto;
}

.topo{
	width: auto;
	height: 30px;
	margin: auto;
	background: #eb8022;
}

.topo_left{
	float: right;

}

.topo_left i{
	color: white;
	margin-right: 5px;
	padding: 5px;
}

.topo_left a{
	color: white;
	margin-left: -6px;
}

header{
	padding: 25px 0;
	height: 55px;
}

nav ul{
	list-style: none;
	margin: 10px;
	float: left;
}

nav ul li{
	float: left;
}

img.nav_logo{
	margin-top: -35px;
	margin-left: 55px;
}

nav ul li a:link{
	display: block;
	margin-left: 80px;
	padding-bottom: 3px;
	text-transform: uppercase;
	font-size: 1.5em;
}

nav ul li a:hover{
	border-bottom: 1px solid #535858;
}

#banner img{
	width: 1080px;
	margin-top: -27px;
}

#conteudo{
	width: 1080px;
	background: url(../img/fundo.png) no-repeat;
	margin-top: -27px;
	float: left;
}

article#prop{	
	float: left;
	margin-left: 37px;
}

article#vet{
	float: left;
	margin-left: 37px;
}

article img{
	width: 480px;
	margin-top: 30px;
}

article#prop_menu{
	float: left;	
}

article#vet_menu{
	float: left;
}

article ul{
	list-style: none;
}

#banner2 img{
	width: 1080px;
}

#conteudo2{
	width: 1080px;
	background: url(../img/fundo2.png) no-repeat;
	float: left;
	margin-top: -27px;
}

#conteudo2 p{
	color: #000;
	margin-left: 20px;
	margin-right: 20px;
	text-align: center;
}


section#sobre_nos{
	color: white;
	font-size: 1.5em;
	text-align: center;
}

#conteudo3 img{
	width: 1080px;	
}

#conteudo3{
	background: url(../img/fundo.png) repeat-x;
	margin-top: 30px;
}

article#bw1 p{
	margin-left: 15px;
	font-size: 2.0em;
	text-align: center;
	margin-top: -50px;
}

article#bw1 a{
	margin-left: 420px;
	font-size: 2.0em;
}

article#bw1 i{
	font-size: 1.5em;
}

article#bw2 a{
	margin-left: 310px;
	font-size: 2.0em;
}

article#bw2 i{
	font-size: 1.5em;
}

footer{
	margin-top: -20px;
}

footer img{
	width: 1080px;
}

article#end img{
	width: 450px;
}


article#end{
	margin-top: -500px;
	margin-left: 53%;
}

article#redes i{
	color: #eb8022;
	margin-right: 10px;
	margin: 10px;
	margin-top: 250px;
}

#conteudo4{
	width: 1080px;
	background: url(../img/fundo2.png) repeat;
	margin-top: -10px;
}

#conteudo4 img{
	width: 1080px;
}

section#lab img{
	width: 70px;	
	margin-top: 15px;
	margin-left: 15px;
}

section#lab1 h2{
	margin-left: 80px;
	margin-top: -50px;
	text-transform: uppercase;
	color: #2e3094;
}

section.exames{
	margin-top: -20px;
	text-align: center;
	font-size: 1.5em;
}

section#lab_lista ul{
	font-size: 1.2em;
}

.subitem{
	display: none;
	font-size: 1.2em;
}

section#ultra img{
	width: 70px;	
	margin-top: 15px;
	margin-left: 15px;
}

section#lab2 h2{
	margin-left: 80px;
	margin-top: -50px;
	text-transform: uppercase;
	color: #2e3094;
}

section#lab2 p{
	margin-left: 15px;
	font-size: 1.3em;
}

section#rx img{
	width: 70px;	
	margin-top: 15px;
	margin-left: 15px;
}

section#lab3 h2{
	margin-left: 80px;
	margin-top: -50px;
	text-transform: uppercase;
	color: #2e3094;
}

section#lab3 p{
	margin-left: 15px;
	font-size: 1.3em;
}

section#cardio img{
	width: 70px;	
	margin-top: 15px;
	margin-left: 15px;
}

section#lab4 h2{
	margin-left: 80px;
	margin-top: -50px;
	text-transform: uppercase;
	color: #2e3094;
}

section#lab4 p{
	margin-left: 15px;
	font-size: 1.3em;
}

.window{
			display:none;
			width:750px;
			height:550px;
			position:absolute;
			left:0;
			top:0;
			background: orange;
			z-index:9900;
			padding:10px;
			border-radius:10px;
			text-align: center;
			font-size: 1.5em;
			justify-content: center;
			align-items: center;
			box-shadow: 0 0 0 5px white;
  			border: 8px solid #988b7a;
		}

		form input{
			padding: 5px;
			width: 350px;
			display: block;
			margin-left: 150px;
		}

		form textarea{
			width: 354px;
			display: block;
			margin-left: 150px;
		}

		form label{
			margin-left: -400px;
		}

	.mensagem{
			margin-left: -370px;
		}

	#mascara{
			position:absolute;
  			left:0;
  			top:0;
  			z-index:9000;
  			background-color:#000;
  			display:none;
  			
		}

		/*.fechar{display:block; text-align:right;}*/

		.fechar {
			position: absolute;
			font-size: 1.0em;
			top: -30px;
			right: -30px;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			border: 4px solid white;
			background: orange;
			color: white;
			font-family: "PT Mono", monospace;
			cursor: pointer;
			box-shadow: 0 4px 4px 0 rgba(0,0,0,.3);
		}

		form .btn{
			width: 150px;
			cursor: pointer;
		}







