/* PetMais Diagnósticos */

/* # = id (ex: #pagina - id pagina)
   . = class (ex: .pagina - classe pagina) */

body{
	font-family: 'Teko', 'Times New Roman', serif;
	background: white;	

}

a:link, a:active, a:visited{
	color: #08088A;
	text-decoration: none;
}

a:hover{
	color: #f5b461;
}

#container{
	width: 1080px;
	margin: 0 auto;
}

.topo{
	width: auto;
	height: 30px;
	margin: auto;
/*	border: 2px solid grey; */ 
	background: #eb8022;
}

.topo_left{
	float: right;

}

.topo_left i{
	color: white;
	margin-right: 5px;
	padding: 5px;
}

.topo_left a{
	color: white;
}

header{
/*	border: 1px solid black; */
	padding: 25px 0;
	height: 55px;
}

nav ul{
	list-style: none;
	margin: 10px;
	float: left;

}

nav ul li{
	float: left;
}

img.nav_logo{
	margin-top: -35px;
/*	border: 1px solid green; */
	margin-left: 55px;
}

nav ul li a:link{
	display: block;
	margin-left: 80px;
	padding-bottom: 3px;
	text-transform: uppercase;
	font-size: 1.5em;

}

nav ul li a:hover{
	border-bottom: 1px solid #535858;
}

#banner img{
	width: 1080px;
	margin-top: -27px;
/*	border: 1px solid red; */
}

#conteudo{
	width: 1080px;
	background: url(../img/fundo.png) no-repeat;
	margin-top: -27px;
/*	border: 1px solid red; */
	float: left;
}

article#prop{	
	float: left;
	margin-left: 37px;
/*	border: 1px solid blue; */
}

article#vet{
	float: left;
	margin-left: 37px;
/*	border: 1px solid red; */
}

article img{
	width: 480px;
	margin-top: 30px;
}

article#prop_menu{
	float: left;	
}

article#vet_menu{
	float: left;
}

article ul{
	list-style: none;
}

#banner2 img{
	width: 1080px;
}

#conteudo2{
	width: 1080px;
	background: url(../img/fundo2.png) no-repeat;
	float: left;
	margin-top: -27px;

}

section#sobre_nos{
	color: white;
	font-size: 1.5em;
	text-align: center;
}

#conteudo3 img{
	width: 1080px;	
}

article#bw1 img{
	width: 520px;
	margin-left: 26%;
	text-align: center;
	
}

article#bw1{
	margin-top: -550px;
	
}

article#bw2 img{
	width: 520px;
	margin-top: 100px;
	margin-left: 26%;
	text-align: center;
}

footer{
	margin-top: -20px;
}

footer img{
	width: 1080px;
}

article#end img{
	width: 450px;
}


article#end{
	margin-top: -500px;
	margin-left: 53%;
}

article#redes i{
	color: #eb8022;
	margin-right: 10px;
	margin: 10px;
	margin-top: 250px;
}

#conteudo4{
	width: 1080px;
	background: url(../img/fundo2.png)no-repeat;
}

#conteudo4 img{
	width: 1080px;
}

section#lab img{
	width: 70px;	
	margin-top: 15px;
	margin-left: 15px;
}

section#lab1 h2{
	margin-left: 80px;
	margin-top: -50px;
	text-transform: uppercase;
	color: #2e3094;
}

section.exames{
	margin-top: -20px;
	text-align: center;
	font-size: 1.5em;
}

section#lab_lista ul{
	font-size: 1.2em;
}

.subitem{
	display: none;
	font-size: 1.2em;
}






